/* ============================= SIDE MENU MOBILE 🥗📲================================= */

#sideMenuMobile {
  height: 100vh;
  background: #000;
  width: 100vw;
  position: fixed;
  top: 0;
  transform: translateX(-100%);
  transition: var(--transition-time) ease;
}

#sideMenuMobile a {
  color: var(--unactive-link-color);
  transition: var(--transition-time);
  width: 100%;
}
#sideMenuMobile a:hover {
  text-decoration: none;
  color: var(--active-link-color);
}

.fa-times-circle {
  font-size: 2rem;
  color: #05fa5b;
}
